{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <section class="hero is-primary is-small">
        <div class="hero-body" style="padding: 8px 0 0;">
            <div class="columns">
                <div class="column">
                    <div class="container has-text-centered pb-3">
                        <p class="title">{{ product.name }}</p>
                        <p class="subtitle">Seleziona i giorni di interesse</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container" {{ stimulus_controller('booking') }}>
        <div class="columns">
            <div class="column has-text-centered">
                <div class="pt-5">
                    <figure class="image">
                        <img src="/images/{{ product.image }}" alt="{{ product.name }}">
                    </figure>
                </div>
                <p class="subtitle is-4">A partire da {{ (product.priceList.priceHalfDay/100)|format_currency('EUR') }}</p>
            </div>
            <div class="column">
                <div class="pt-5  has-text-centered">
                    <form name="booking-rate" action="/book" method="post">
                        <div class="field">
                            <div class="control">
                                <div class="select">
                                    <select {{ stimulus_action('booking', 'changeSize', 'change', {'id': product.id}) }}>
                                        <option selected disabled>Selezionare la Taglia</option>
                                        {% for size, qty in product.productQty.__toArray %}
                                            <option value="{{ size }}">Taglia {{ size }} - Disponibili {{ qty }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div id="calendar">
                            <div class="hero">
                                <div class="hero-body">
                                <span class="icon">
                                  <i class="fas fa-up-long"></i>
                                </span>
                                    <p class="title">
                                        Selezionare la Taglia
                                    </p>
                                </div>
                            </div>
                        </div>
                        <button id="rentCTA" class="button is-large is-success is-hidden mt-5" type="submit">Noleggia</button>
                        <input type="hidden" id="id" name="id" />
                        <input type="hidden" id="size" name="size" />
                        <input type="hidden" id="start" name="start" />
                        <input type="hidden" id="end" name="end" />
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
