{% extends 'base.html.twig' %}

{% block title %}MC Rent Bike Ragusa{% endblock %}

{% block body %}
<section class="section">
  <table class="table">
    <thead>
    <tr>
      <th>Struttura</th>
      <th>Dove</th>
      <th>Visita il loro sito web</th>
    </tr>
    </thead>
    <tbody>
    {% for affiliate in affiliates %}
      <tr>
        <td><p class="title is-5">{{ affiliate.name }}</p></td>
        <td>
          <a href="https://www.google.com/maps/search/{{ affiliate.address|replace({' ': '+'}) }}" target="_blank">{{ affiliate.address }}</a>
        </td>
        <td>
          <a href="{{ affiliate.web }}" target="_blank">{{ affiliate.web }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}