{{ form_start(form) }}
<div class="help is-danger">
    {{ form_errors(form) }}
</div>

<div class="columns">
    <div class="column">
        {{ form_row(form.name) }}
    </div>
    <div class="column is-2">

    </div>
</div>

<div class="columns">
    <div class="column">
        {{ form_row(form.description) }}
    </div>
</div>

<div class="columns">
    <div class="column">
        {{ form_row(form.sizeXS) }}
    </div>
    <div class="column">
        {{ form_row(form.sizeS) }}
    </div>
    <div class="column">
        {{ form_row(form.sizeM) }}
    </div>
    <div class="column">
        {{ form_row(form.sizeL) }}
    </div>
    <div class="column">
        {{ form_row(form.sizeXL) }}
    </div>
</div>

<div class="columns">
    <div class="column">
        {{ form_row(form.size36) }}
    </div>
    <div class="column">
        {{ form_row(form.size37) }}
    </div>
    <div class="column">
        {{ form_row(form.size38) }}
    </div>
    <div class="column">
        {{ form_row(form.size39) }}
    </div>
    <div class="column">
        {{ form_row(form.size40) }}
    </div>
    <div class="column">
        {{ form_row(form.size41) }}
    </div>
</div>

<div class="columns">
    <div class="column">
        {{ form_row(form.size42) }}
    </div>
    <div class="column">
        {{ form_row(form.size43) }}
    </div>
    <div class="column">
        {{ form_row(form.size44) }}
    </div>
    <div class="column">
        {{ form_row(form.size45) }}
    </div>
    <div class="column">
        {{ form_row(form.size46) }}
    </div>
    <div class="column">
        {{ form_row(form.size47) }}
    </div>
</div>

<div class="columns">
    <div class="column">
        {{ form_row(form.uploadImage) }}
    </div>
</div>
{{ form_end(form) }}
