{% extends 'admin.html.twig' %}

{% block title %}Accessori{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title">Accessori</h1>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="{{ path('app_accessory_new') }}" class="button is-primary">Aggiungi un nuovo accessorio</a>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Listino</th>
                <th>Qt.</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for accessory in accessories %}
            <tr>
                <td>
                    <figure class="image is-64x64">
                        <img src="/images/{{ accessory.image }}">
                    </figure>
                </td>
                <td>{{ accessory.name }}</td>
                <td>{{ accessory.description }}</td>
                <td>{{ accessory.priceList.name }}</td>
                <td>{{ accessory.qty }}</td>
                <td>
                    <p class="control">
                        <a class="button" href="{{ path('app_accessory_edit', {'id': accessory.id}) }}">
                                <span class="icon is-small">
                                    <i class="fas fa-pencil"></i>
                                </span>
                            <span>Modifica</span>
                        </a>
                    </p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
