<div class="card" style="padding: 3rem;">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="/images/{{ product.image }}" alt="{{ product.name }}">
    </figure>
  </div>
  <div class="card-content">
    <div class="content has-text-centered">
      <p class="title is-4 pt-4" style="height: 6rem;">{{ product.name }}</p>
    </div>
  </div>

  {% if book %}
    <footer class="card-footer">
      <button
          class="button is-success card-footer-item"
          type="button"
          data-action="cart#addProductToCart"
          data-cart-id-param="{{ product.idx }}"
          data-cart-size-param="{{ product.size.value }}"
      >
          <span class="icon is-small">
              <i class="fas fa-plus"></i>
          </span>
        <span>{{ 'aggiungi' }}</span>
      </button>
    </footer>
  {% endif %}
</div>