{{ form_start(form) }}
<div class="help is-danger">
    {{ form_errors(form) }}
</div>

<div class="columns">
    <div class="column">
        {{ form_row(form.dateStart) }}
    </div>
    <div class="column" id="some-custom-id">
        {{ form_row(form.dateEnd) }}
    </div>
</div>

{{ form_end(form) }}