{% extends 'admin.html.twig' %}

{% block title %}Prodotti{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <div class="level">
                <div class="level-left">
                    <div class="level-item">
                        <h1 class="title">Prodotti</h1>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item">
                        <a href="{{ path('app_product_new') }}" class="button is-primary">Aggiungi un nuovo prodotto</a>
                    </div>
                </div>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Listino</th>
                <th>Qt.</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>
                        <figure class="image is-64x64">
                            <img src="/images/{{ product.image }}">
                        </figure>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.priceList.name }}</td>
                    <td>{{ product.qty }}</td>
                    <td>
                        <p class="control">
                            <a class="button" href="{{ path('app_product_edit', {'id': product.id}) }}">
                                <span class="icon is-small">
                                    <i class="fas fa-pencil"></i>
                                </span>
                                <span>Modifica</span>
                            </a>
                        </p>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </section>
{% endblock %}
