{% extends 'admin.html.twig' %}

{% block title %}Strutture Convenzionate{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="level">
            <div class="level-left">
                <div class="level-item">
                    <h1 class="title">Strutture Convenzionate</h1>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <a href="{{ path('app_affiliate_new') }}" class="button is-primary">Aggiungi un nuova Struttura</a>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Indirizzo</th>
                <th>Sito Web</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for affiliate in affiliates %}
            <tr>
                <td>{{ affiliate.name }}</td>
                <td>{{ affiliate.address }}</td>
                <td>{{ affiliate.web }}</td>
                <td>
                    <p class="control">
                        <a class="button" href="{{ path('app_affiliate_edit', {'id': affiliate.id}) }}">
                                <span class="icon is-small">
                                    <i class="fas fa-pencil"></i>
                                </span>
                            <span>Modifica</span>
                        </a>
                    </p>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
