{% extends 'base.html.twig' %}

{% block title %}MC Rent Bike Ragusa{% endblock %}

{% block body %}
<section class="section">
  <div class="columns is-multiline">
    {% for affiliate in affiliates %}
      <div class="column is-half">
        <div class="box">
          <article class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="/images/{{ affiliate.image }}" alt="{{ affiliate.name }}" />
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">{{ affiliate.name }}</p>
              <p>
                <a
                    href="https://www.google.com/maps/search/{{ affiliate.address|replace({' ': '+'}) }}"
                    target="_blank">
                  {{ affiliate.address }}
                </a>
              </p>
              <p>
                <a href="{{ affiliate.web }}" target="_blank">{{ affiliate.web }}</a>
              </p>
            </div>
          </article>
        </div>
      </div>
    {% endfor %}
  </div>
</section>
{% endblock %}