<h1>La tua prenotazione</h1>

<p>
  Ciao {{ customer.firstname }} {{ customer.lastname }},<br>
  abbiamo appena ricevuto la tua prenotazione dal {{ booking.dateStart }} al {{ booking.dateEnd }}.
</p>
<p>Qui un breve riepilogo:</p>
<table>
  {% for product in booking.products %}
  <tr>
    <td>{{ product.name }}</td>
  </tr>
  {% endfor %}
</table>
<p>Ti attendiamo in negozio.</p>