<section class="hero is-dark">
  <div class="hero-body">
    <div class="columns">
      <div class="column is-one-third" style="font-size: 1.2rem;">
        <div class="columns">
          <div class="column">
            <ul>
              <li><a href="{{ path('who_are') }}" title="{{ 'chi_siamo'|trans }}" class="m-1">{{ 'chi_siamo'|trans }}</a></li>
              <li><a href="{{ path('terms') }}" title="{{ 'termini_e_condizioni'|trans }}" class="m-1">{{ 'termini_e_condizioni'|trans }}</a></li>
              <li><a href="{{ path('privacy') }}" title="{{ 'privacy_policy'|trans }}" class="m-1">{{ 'privacy_policy'|trans }}</a></li>
              <li><a href="{{ path('cookies_policy') }}" title="{{ 'cookies_policy'|trans }}" class="m-1">{{ 'cookies_policy'|trans }}</a></li>
            </ul>
          </div>
          <div class="column">
            <ul>
              <li><a href="{{ path('ragusa_ibla') }}" title="Ragusa Ibla" class="m-1">Ragusa Ibla</a></li>
              <li><a href="{{ path('cycling_routes') }}" title="{{ 'percorsi_cicloturistici'|trans }}" class="m-1">{{ 'percorsi_cicloturistici'|trans }}</a></li>
              <li><a href="{{ path('where_to_stay') }}" title="Strutture Convenzionate" class="m-1">Strutture Convenzionate</a></li>
              <li><a href="{{ path('tours') }}" title="{{ 'tour_organizzati'|trans }}" class="m-1">{{ 'tour_organizzati'|trans }}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div style="height:256px;width: 256px; margin: 0 auto;">
          <img height="256" width="256" src="/imgs/logo.webp" >
        </div>
      </div>
      <div class="column is-one-third">
        <div class="block">
          <h3 class="title is-3">MC Rent Bike Ragusa</h3>
          <h5 class="subtitle is-5">{{ 'noleggio_biciclette_e_scooter_breve_medio_e_lungo'|trans|raw }}</h5>
          <address>
            via del Mercato 210<br>
            Ragusa Ibla<br>
            Ragusa
          </address>
          <p>Tel.0932 518437</p>
          <a href="mailto:info@mcrentbikeragusa.com">info@mcrentbikeragusa.com</a>
          <a href="https://www.facebook.com/mcrentbikeragusa" target="_blank" title="Facebook Page" class="mt-4 is-size-4">
            <span class="icon is-large">
                <i class="fa-brands fa-facebook" ></i>
            </span>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>